
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="form-inline">  
            
            <div id="reportrange" class="form-group" style="background: #fff; cursor: pointer; padding: 5px 5px; border: 1px solid #ccc; margin-right: 3px;"  daterangepicker [options]="options" (selected)="selectedDate($event, daterange)">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span style="padding-right:5px;">{{daterange.start | date : 'mediumDate'}} - {{daterange.end | date : 'mediumDate'}}</span><b class="caret"></b>
            </div>

            <select class="form-control input-sm" style="margin-left:5px;" [(ngModel)]="userId" (change)="fetch()">
                <option value="0">All Users</option>
                <option value="{{u.UserId}}" *ngFor="let u of users">{{u.UserName}}</option>
            </select>
            <select class="form-control input-sm" style="margin-left:5px;" [(ngModel)]="categoryId" (change)="fetch()">
                <option value="0">All Categories</option>
                <option value="{{c.CategoryId}}" *ngFor="let c of categories">{{c.Code}}</option>
            </select>
            
            <select class="form-control input-sm" style="margin-left:5px;" [(ngModel)]="cashId" (change)="fetch()">
                <option value="0">All Cash</option>
                <option value="1">Cash OUT</option>
                <option value="-1">Cash IN</option>
            </select>
            <input type="button" value="Search" class="btn btn-sm btn-primary" style="margin-left:5px;" id="searchbtn" (click)="fetch()"/>

            <button style="margin-left:5px;" (click)="add()" class="btn btn-sm btn-primary form-group pull-right" [disabled]="loading"><i class="fa fa-plus"></i> Add New</button>
            <button style="margin-left:5px;" (click)="show()" class="btn btn-sm btn-primary form-group pull-right" [disabled]="loading"><i class="fa fa-list"></i> Categories</button>
            <button style="margin-left:5px;" class="btn btn-sm btn-primary form-group pull-right" [disabled]="loading" (click)="download()"><i class="fa fa-download"></i> Download</button>
            
        </div>
    </div>
    <div class="panel-body" style="min-height: 800px !important;">
        <table class="table table-stripped table-responsive"  datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
            <thead>
                <tr>
                    <th style="min-width:40px;">Id</th>
                    <th style="min-width:180px; text-align: left;">Date</th>
                    <th>Description</th>
                    <th style="min-width:170px;">Category</th>
                    <th style="min-width:100px;text-align:right;">Amount</th>
                    <th style="min-width:50px;">User</th>
                    <th style="min-width:50px;">Edit</th>
                    <th style="min-width:50px;">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of filtered" [class]="u.Payment > 0 ? 'text-red' : 'text-green'">
                    <td>{{u.ExpenseId}}</td>
                    <td>{{u.Date | date: 'medium'}}</td>
                    <td>{{u.Description}}</td>
                    <td>{{getCategoryName(u.CategoryId)}}</td>
                    <td class="text-right"><span class="fa fa-inr"></span> {{u.Payment * -1 | number }}</td>
                    <td>{{getUserName(u.UserId)}}</td>
                    <td class="text-center"><span class="fa fa-edit" (click)="edit(u.ExpenseId)" *ngIf="(user.UserId == u.UserId) && !u.Status"></span></td>
                    <td class="text-center">
                        <span class="fa fa-check" *ngIf="confirmation(u) == 'approved'"></span>
                        <span class="fa fa-thumbs-up" (click)="confirm(u)" *ngIf="confirmation(u) == 'pending'"></span>
                        <span class="fa fa-clock-o" *ngIf="confirmation(u) == 'waiting'"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{expense.ExpenseId > 0 ? 'Edit Expense' : 'Add Expense'}}</h4>
        </div>
        <form class="form-horizontal">
            <div class="modal-body">
                
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Date</label>
                        <div class="col-sm-4">
                            <input type="text" value="{{expense.Date | date : 'medium'}}" disabled class="form-control input-sm">                            
                        </div>                       
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-4">
                            <textarea type="text" [(ngModel)]="expense.Description" name="Description" class="form-control input-sm" rows="5"></textarea>                            
                        </div>                        
                    </div>   
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Amount</label>
                        <div class="col-sm-4">
                            <input type="number" [(ngModel)]="expense.Payment"name="Payment" class="form-control input-sm">                            
                        </div>   
                        <div class="col-sm-5" style="padding-left: 0px !important;">
                            <input type="checkbox" id="toggle-event" checked data-toggle="toggle" data-size="small" data-on="Cash OUT" data-off="Cash IN"  data-width="100" data-onstyle="danger" data-offstyle="success" />
                        </div>                     
                    </div> 
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Select Category</label>
                        <div class="col-sm-4">
                            <select type="number" [(ngModel)]="expense.CategoryId" name="CategoryId"  [disabled]="expense.ExpenseId > 0" class="form-control input-sm">  
                                <option value="{{c.CategoryId}}" *ngFor="let c of categories">{{c.Code}}</option>
                            </select>                          
                        </div>                       
                    </div> 
                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger btn-sm pull-left"(click)="delete(expense.ExpenseId)" *ngIf="expense.ExpenseId > 0">Delete</button>
                <button type="button" class="btn btn-sm {{expense.ExpenseId > 0 ? 'btn-success' : 'btn-primary'}}" (click)="save()" [disabled]="validate() || loading">{{expense.ExpenseId > 0 ? 'Update' : 'Submit'}}</button>
            </div>
        </form>
      </div>
      </div>
    </div>

<div class="modal fade" id="categoriesTable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Categories</h4>
            </div>
            <div class="modal-body" style="padding:10px 0 0 0;">
               <app-categories></app-categories>
            </div>
        </div>
    </div>
</div>
  