.avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid black;
  }

 
.multiselect.dropdown-toggle.btn.btn-default {
    width: 170px !important;
    height: 30px !important;
    line-height: 1.5 !important;
    font-size: 12px !important;
    margin-right: 5px !important;
}